*/data
emacs/emacs.d/elpa/
emacs/emacs.d/eaf
emacs/emacs.d/auto-save-list
emacs/emacs.d/abbrev_defs
emacs/emacs.d/elpy/
emacs/emacs.d/packages.txt
emacs/emacs.d/session*
emacs/emacs.d/transient
emacs/emacs.d/request
*/*/*/*/__pycache__/
*/*/*/__pycache__/
.vscode
*/.ipynb_checkpoints
NLP/out/*
NLP/dataset/*
NLP/model/*
*/models/*
*/data/*
python/__pycache__