*/data
emacs/emacs.d/elpa/
emacs/emacs.d/eaf
emacs/emacs.d/auto-save-list
emacs/emacs.d/abbrev_defs
emacs/emacs.d/elpy/
*/*/*/*/__pycache__/
*/*/*/__pycache__/
.vscode
*/.ipynb_checkpoints
NLP/out/*
NLP/dataset/*
NLP/model/*